<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
      <div class="logo">
          <a href="/index.html">
              <img src="./components/images/GreenTech.png" alt="">
          </a>
          <div class="title">
              <h1>GreenTech</h1>
          </div>
      </div>
      <div class="">
          <ul>
              <li>Categorias</li>
              <li>Categorias</li>
              <li>Categorias</li>
              <li>Categorias</li>
          </ul>
      </div>
      <div>
          <input type="text" placeholder="Buscar">
          <button>
              <i class="search">
                  
              </i>
          </button>
      </div>
      <div class="login">
          <a href="#" id="inscreva-se-btn"><li>Entrar</li></a>
      </div>
  </header>
  
  <div class="content">
      <h1>Corpo da Pagina</h1>
  </div>
  <footer>
      <div class="container_contato">
          <div class="deves">
              <h3 class="footer_title">Conheça os desenvolvedores:</h3>
              <div class="box-devs">
                  <div>
                      <h4>Diêgo Farias</h4>
                      <a href="https://www.instagram.com/diifaarias/" target="_blank" rel="noopener noreferrer">
                          <img src="./components/images/instagram-svgrepo-com.svg">
                      </a>
                      <a href="https://github.com/difarias" target="_blank" rel="noopener noreferrer">
                          <img src="./components/images/github-svgrepo-com.svg">
                      </a>
                      <a href="https://br.linkedin.com/in/diego-farias-de-freitas-ab1202248" target="_blank" rel="noopener noreferrer">
                          <img src="./components/images/linkedin-svgrepo-com.svg">
                      </a>
                  </div>
                  <div>
                      <h4>Isaias Mendes</h4>
                      <a href="https://www.instagram.com/isaias.rome/" target="_blank" rel="noopener noreferrer">
                          <img src="./components/images/instagram-svgrepo-com.svg">
                      </a>
                      <a href="https://github.com/Mendespro" target="_blank" rel="noopener noreferrer">
                          <img src="./components/images/github-svgrepo-com.svg">
                      </a>
                      <a href="https://www.linkedin.com/in/isaias-mendes-971873226/" target="_blank" rel="noopener noreferrer">
                          <img src="./components/images/linkedin-svgrepo-com.svg">
                      </a>
                  </div>
              </div>
          </div>
          <div class="vshadow"></div>
          <div class="pay">
              <h3>Forma de Pagamento</h3>
              
          </div>
          <div class="vshadow"></div>
          <div>
              <h3>Ajuda</h3>
              <div class="help">
                      <a href="#"><li>Perguntas frequentes</li></a>
                      <a href="#"><li>Central de Ajuda</li></a>
                      <a href="#"><li>Conta</li></a>
                      <a href="#"><li>Media Center</li></a>
                      <a href="#"><li>Relações com investidores</li></a>
              </div>
          </div>
      </div>
      <div class="hshadow"></div>
      <div class="container_cp">
          <p>&copy; 2024 GreenTech</p>
      </div>
      
  </footer>
</body>
</html>
