<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulário em Slices com Ícones</title>
<link rel="stylesheet" href="../styles/cadastro.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <header>
    <div class="header">
        <div class="logo">
            <div class="logoimg">
                <a href="/">
                    <img src="./images/logo.jpeg" alt="Logo do E-commerce">
                </a>
            </div>
            <div class="logotext">
                <h1>GreenTech</h1>
            </div>
        </div>
        <div class="searcher">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar...">
                <img class="search-icon" src="./images/search1.svg" alt="Ícone de Pesquisa">
            </div>
        </div>
        <div class="cart">
            <a href="/pagamento" rel="noopener noreferrer">
                <img src="./images/cart.svg">
            </a>
        </div>
        <div class="button">
          <a href="/login" class="login-button">
              <div class="loginimg">
                  <img src="./images/login-icon.svg" alt="icon login">
                  <span>Login</span>
              </div>
          </a>
        </div>
    </div>
    <nav class="category">
      <ul class="nav">
          <% categorias.forEach(categoria => { %>
              <li><a href="/produtos"><%= categoria.nome_categoria %></a></li>
          <% }) %>
      </ul>
    </nav>
  </header>

  <div class="form-container">
    <form id="form" onsubmit="cadastroUsuario(event)">
      <!-- Slice 1: Dados Pessoais -->
      <div class="form-slice active" id="slice1">
        <h2>Dados Pessoais</h2>
        <div class="input-group">
          <i class="fas fa-user"></i>
          <input type="text" name="nome" placeholder="Nome" required>
        </div>
        <div class="input-group">
          <i class="fas fa-id-card"></i>
          <input type="text" name="cpf" placeholder="CPF" id="cpf_cadastro" required>
        </div>
        <div class="input-group">
          <i class="fas fa-envelope"></i>
          <input type="email" name="email" placeholder="E-mail" required>
        </div>
        <div class="input-group">
          <i class="fas fa-phone-alt"></i>
          <input type="tel" name="telefone" placeholder="Telefone" required>
        </div>
        <div class="input-group">
          <i class="fas fa-calendar-alt"></i>
          <input type="date" name="dataNascimento" placeholder="Data de Nascimento" required>
        </div>
        <button type="button" onclick="validaCPF()">Próximo</button>
      </div>

      <!-- Slice 2: Endereço -->
      <div class="form-slice" id="slice2">
        <h2>Endereço</h2>
        <div class="input-group">
          <i class="fas fa-map-marker-alt"></i>
          <input type="text" name="cep" placeholder="CEP" id="cep_cadastro" required onblur="validaCEP()">
        </div>
        <div class="input-group">
          <i class="fas fa-road"></i>
          <input type="text" name="rua" placeholder="Rua" id="logradouro_cadastro" required>
        </div>
        <div class="input-group">
          <i class="fas fa-building"></i>
          <input type="text" name="bairro" placeholder="Bairro" id="bairro_cadastro" required>
        </div>
        <div class="input-group">
          <i class="fas fa-home"></i>
          <input type="text" name="logradouro" placeholder="Logradouro" id="numero_cadastro">
        </div>
        <div class="input-group">
          <i class="fas fa-city"></i>
          <input type="text" name="cidade" placeholder="Cidade" id="cidade_cadastro" required>
        </div>
        <div class="input-group">
          <i class="fas fa-flag"></i>
          <input type="text" name="estado" placeholder="Estado" id="estado_cadastro" required>
        </div>
        <button type="button" onclick="prevSlice()">Voltar</button>
        <button type="button" onclick="nextSlice()">Próximo</button>
      </div>

      <!-- Slice 3: Senha -->
      <div class="form-slice" id="slice3">
        <h2>Senha</h2>
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" name="senha" placeholder="Senha" id="senha_cadastro" required>
        </div>
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" name="confirmarSenha" placeholder="Confirmar Senha" required>
        </div>
        <button type="button" onclick="prevSlice()">Voltar</button>
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>

  <footer class="container-footer">
    <div class="footer-box">
        <p>Desenvolvido por Diêgo Farias e Isaias Mendes</p>
    </div>
  </footer>

  <script>
    function nextSlice() {
      let currentSlice = document.querySelector('.form-slice.active');
      let inputs = currentSlice.querySelectorAll('input[required]');
      let valid = true;

      inputs.forEach(function(input) {
        if (!input.value) {
          valid = false;
        }
      });

      if (!valid) {
        alert('Por favor, preencha todos os campos obrigatórios.');
        return;
      }

      let nextSlice = currentSlice.nextElementSibling;

      if (nextSlice !== null) {
        currentSlice.classList.remove('active');
        nextSlice.classList.add('active');
      }
    }

    function prevSlice() {
      let currentSlice = document.querySelector('.form-slice.active');
      let prevSlice = currentSlice.previousElementSibling;

      if (prevSlice !== null) {
        currentSlice.classList.remove('active');
        prevSlice.classList.add('active');
      }
    }

    function validaCPF() {
      let cpf = document.getElementById('cpf_cadastro').value.replace(/[^\d]+/g,''); 
      
      if (cpf.length !== 11 || /^(\d)\1+$/.test(cpf)) {
        alert('CPF inválido.');
        return;
      }

      let soma = 0;

      for (let i = 0; i < 9; i++) {
        soma += parseInt(cpf.charAt(i)) * (10 - i);
      }

      let resto = 11 - (soma % 11);
      if (resto === 10 || resto === 11) resto = 0;
      
      if (resto !== parseInt(cpf.charAt(9))) {
        alert('CPF inválido.');
        return;
      }

      soma = 0;
      for (let i = 0; i < 10; i++) {
        soma += parseInt(cpf.charAt(i)) * (11 - i);
      }

      resto = 11 - (soma % 11);
      if (resto === 10 || resto === 11) resto = 0;
      
      if (resto !== parseInt(cpf.charAt(10))) {
        alert('CPF inválido.');
        return;
      }

      nextSlice();
    }

    function validaCEP() {
      let cep = document.getElementById('cep_cadastro').value.replace(/\D/g, ''); // Remove caracteres não numéricos

      if (cep.length !== 8) {
        alert('CEP inválido.');
        return;
      }

      fetch('https://viacep.com.br/ws/' + cep + '/json/')
        .then(response => response.json())
        .then(data => {
          if (data.erro) {
            alert('CEP não encontrado.');
            return;
          }
          document.getElementById('logradouro_cadastro').value = data.logradouro;
          document.getElementById('bairro_cadastro').value = data.bairro;
          document.getElementById('cidade_cadastro').value = data.localidade;
          document.getElementById('estado_cadastro').value = data.uf;
        })
        .catch(error => console.error('Erro ao buscar CEP:', error));
    }

    function verificaSenhaProtegida(senha) {
      const regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}$/;
      return regex.test(senha);
    }

    function cadastroUsuario(event) {
      event.preventDefault();

      const dados = {
          nome: document.querySelector('input[name="nome"]').value,
          cpf: document.querySelector('input[name="cpf"]').value,
          email: document.querySelector('input[name="email"]').value,
          telefone: document.querySelector('input[name="telefone"]').value,
          dataNascimento: document.querySelector('input[name="dataNascimento"]').value,
          endereco: {
            cep: document.querySelector('input[name="cep"]').value,
            logradouro: document.querySelector('input[name="logradouro"]').value,
            bairro: document.querySelector('input[name="bairro"]').value,
            numero: document.querySelector('input[name="logradouro"]').value,
            cidade: document.querySelector('input[name="cidade"]').value,
            estado: document.querySelector('input[name="estado"]').value
            },
          senha: document.querySelector('input[name="senha"]').value,
          confirmarSenha: document.querySelector('input[name="confirmarSenha"]').value
          };

      if (dados.senha !== dados.confirmarSenha) {
        alert('As senhas não coincidem.');
        return;
      }

      if (!verificaSenhaProtegida(dados.senha)) {
        alert('A senha deve conter pelo menos 8 caracteres, uma letra maiúscula, um caractere especial e números.');
        return;
      }

      fetch('/clientes/cadastro', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(dados)
      })

      .then(response => {
        if (!response.ok) {
          throw new Error('Erro ao tentar cadastrar');
        }
        return response.json();
      })

      .then(data => {
        alert('Cadastro realizado com sucesso!');
        window.location.href = '/login';
      })
      
      .catch(error => {
      console.error('Erro ao fazer cadastro', error);
        if (error && error.status === 409) {
            alert('Este e-mail já está em uso. Por favor, use um e-mail diferente.');
        } else {
            alert('Erro ao fazer cadastro.Tente novamente mais tarde.');
        }
    });

    }
  </script>
</body>
</html>
