<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../images/logo.jpeg" type="image/x-icon">
  <meta name="description" content="">
  <link rel="stylesheet" href="../styles/detalhesProdutos.css">
  <title>Detalhes do Produto</title>
</head>

<body> 
    <header>
        <div class="header">
            <div class="logo">
                <div class="logoimg">
                    <a href="/">
                        <img src="../images/logo.jpeg" alt="Logo do E-commerce">
                    </a>
                </div>
                <div class="logotext">
                    <h1>GreenTech</h1>
                </div>
            </div>
            <div class="searcher">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Buscar...">
                    <img class="search-icon" src="../images/search1.svg" alt="Ícone de Pesquisa">
                </div>
            </div>
            <div class="cart">
                <a id="cart-link" href="#" rel="noopener noreferrer">
                    <img src="../images/cart.svg">
                    <span id="cart-item-count" class="cart-item-count">0</span> <!-- Contador de itens do carrinho -->
                </a>
            </div>
            <div class="button">
                <div class="loginimg">
                    <img src="../images/login-icon.svg" alt="icon login">
                    <a class="login-button" href="/login">Login</a>
                </div>
                <div class="logout-menu">
                    <div class="dropdown">
                        <button class="dropbtn">Login</button>
                        <div class="dropdown-content">
                            <a id="meus-pedidos" href="/pedidos">Meus Pedidos</a>
                            <a href="#" onclick="clearLocalStorage()">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="category">
            <ul class="nav">
                <% categorias.forEach(categoria => { %>
                    <li><a href="/produtos/<%= categoria.id_categoria %>"><%= categoria.nome_categoria %></a></li>
                <% }) %>
            </ul>
        </nav>
    </header>

    <main class="product-main">
        <div class="product-container">
            <div class="product-left">
                <div class="product-name-category">
                    <h2 class="product-name">Irrigador Rural</h2>
                    <span class="product-category">Equipamento Rural</span>
                </div>
                <div class="product-image">
                    <img src="../images/irrigacao.jpg" alt="Imagem do Produto">
                </div>
                <div class="product-description">
                    <p>Avaliações:</p>
                    <div class="rating">
                        &#9733
                        &#9733
                        &#9733
                        &#9734
                        &#9734
                    </div>
                    <p>Descrição:</p>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem consequatur laborum ducimus quos vitae. Natus veritatis eius enim repellendus in sed a delectus minima cumque necessitatibus! Alias corrupti atque obcaecati? ipsum dolor sit amet consectetur adipisicing elit...</h4>
                    
                    <p>Especificações Técnicas:</p>
                    <h4>Lorem ipsum dolor sit amet </h4>
                    <h4>adipisicing elit. Officia odio veritatis</h4>
                    <h4>nisi, debitis ratione voluptates distinctio</h4>
                    <h4>unde est, voluptas possimus eligendi quia?</h4>
                </div>
            </div>
            <div class="product-right">
                <div class="product-details">
                    <p class="product-price">R$ 29999,90</p>
                    <p class="product-stock">Em estoque</p>
                    <div class="product-quant">
                        <p class="product-number">Quantidade:</p>
                        <input type="number" value="1" min="1" class="product-quantity">
                    </div>
                    <div class="product-actions">
                        <div class="product-button">
                            <button class="buy-button">Comprar</button>
                            <button class="add-to-cart">Adicionar ao Carrinho</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="container-footer">
        <div class="footer-box">
            <p>Desenvolvido por Diêgo Farias e Isaias Mendes</p>
        </div>
        <div class="line"></div>
        <div class="footer-footer">
            <p>&copy; 2024 GreenTech</p>
        </div>
    </footer>
    <script>
        let cartItems = [];

        function loadUsername() {
            document.addEventListener("DOMContentLoaded", function() {
                const username = localStorage.getItem('username')?.split(' ')[0];
                if (username) {
                    const loginButton = document.querySelector('.login-button');
                    const dropbtn = document.querySelector('.dropbtn');
                    const logoutMenu = document.querySelector('.logout-menu');
                    
                    if (loginButton && dropbtn && logoutMenu) {
                        dropbtn.textContent = username;
                        logoutMenu.style.display = 'block';
                        loginButton.style.display = 'none';
                        
                        dropbtn.addEventListener('click', function() {
                            const dropdownContent = document.querySelector('.dropdown-content');
                            dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
                        });
                    }
                }
            });
        }

        function clearLocalStorage() {           
                console.log('Limpando armazenamento local...');
                localStorage.removeItem('username');
                localStorage.removeItem('id'); 
                location.reload();
            }

            function loadDataFromLocalStorage() {
                const storedCartItems = localStorage.getItem('cartItems');
                if (storedCartItems) {
                    cartItems = JSON.parse(storedCartItems);
                }
                updateCartItemCount();
                updateCartLink();
            }

            function saveCartItemsToLocalStorage() {
                localStorage.setItem('cartItems', JSON.stringify(cartItems));
            }

            function updateCartItemCount() {
                const cartItemCount = document.getElementById('cart-item-count');
                cartItemCount.innerText = cartItems.length;
            }

            function updateCartLink() {
                const cartLink = document.getElementById('cart-link');
                cartLink.href = `/pagamento?produtos=${JSON.stringify(cartItems)}`;
            }

            // Adicionar ao carrinho
            const addToCartButton = document.querySelector('.add-to-cart');
            if (addToCartButton) {
                addToCartButton.addEventListener('click', function() {
                    const productId = 'produto_id'; // Defina aqui o ID do produto a ser adicionado
                    cartItems.push(productId);
                    saveCartItemsToLocalStorage();
                    updateCartItemCount();
                    updateCartLink();
                });
            }

        loadUsername();
        loadDataFromLocalStorage();
    </script>
</body>
</html>
