<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v5.0.29, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.0.29, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../images/logo.jpeg" type="image/x-icon">
  <meta name="description" content="">
  <link rel="stylesheet" href="../styles/detalhesProdutos.css">
  <title>Detalhes do Produto</title>
</head>

<body> 
    <header>
        <div class="header">
            <div class="logo">
                <div class="logoimg">
                    <a href="/">
                        <img src="../images/logo.jpeg" alt="Logo do E-commerce">
                    </a>
                </div>
                <div class="logotext">
                    <h1>GreenTech</h1>
                </div>
            </div>
            <div class="searcher">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Buscar...">
                    <img class="search-icon" src="../images/search1.svg" alt="Ícone de Pesquisa">
                </div>
            </div>
            <div class="cart">
                <a href="/pagamento" rel="noopener noreferrer">
                    <img src="../images/cart.svg">
                </a>
            </div>
            <div class="button">
                <div class="loginimg">
                    <img src="../images/login-icon.svg" alt="icon login">
                    <a class="login-button" href="/login">Login</a>
                </div>
                <div class="logout-menu">
                    <div class="dropdown">
                        <button class="dropbtn">Login</button>
                        <div class="dropdown-content">
                            <a id="meus-pedidos" href="/pedidos">Meus Pedidos</a>
                            <a href="#" onclick="clearLocalStorage()">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="category">
            <ul class="nav">
                <% categorias.forEach(categoria => { %>
                    <li><a href="/produtos"><%= categoria.nome_categoria %></a></li>
                <% }) %>
            </ul>
        </nav>
    </header>

    <main class="product-main">
        <div class="product-container">
            <div class="product-left">
                <div class="product-name">
                    <h2>Irrigador</h2>
                </div>
                <div class="product-image">
                    <img src="../images/irrigacao.jpg" alt="Imagem do Produto">
                </div>
                <div class="product-description">
                    <p class="product-date">Data de Cadastro: 01/06/2024</p>
                    <p class="product-category">Categoria: Gadgets</p>
                    <p>Descrição breve do produto. <a href="#" id="more-info">Saiba mais</a></p>
                    <div class="technical-specifications" id="technical-specifications">
                        <h3>Especificações Técnicas</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ullam nam minima similique aperiam dolores possimus tempora numquam modi cupiditate officia veniam suscipit natus, doloremque placeat commodi fugit. Amet, dolores....</p>
                    </div>
                </div>
            </div>
            <div class="product-right">
                <div class="product-details">
                    <p class="product-price">Preço: R$ 299,99</p>
                    <div class="product-actions">
                        <p class="product-number">Quant:</p>
                        <input type="number" value="1" min="1" class="product-quantity">
                        <div class="product-button">
                            <button class="buy-button">Comprar</button>
                            <button class="add-to-cart">Adicionar ao Carrinho</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="container-footer">
        <div class="footer-box">
            <p>Desenvolvido por Diêgo Farias e Isaias Mendes</p>
        </div>
        <div class="line"></div>
        <div class="footer-footer">
            <p>&copy; 2024 GreenTech</p>
        </div>
    </footer>
    <script>
        document.getElementById("more-info").addEventListener("click", function(event) {
            event.preventDefault();
            document.getElementById("technical-specifications").classList.toggle("show");
        });

        function loadUsername() {
            document.addEventListener("DOMContentLoaded", function() {
                const username = localStorage.getItem('username');
                if (username) {
                    const loginButton = document.querySelector('.login-button');
                    const dropbtn = document.querySelector('.dropbtn');
                    const logoutMenu = document.querySelector('.logout-menu');
                    
                    if (loginButton && dropbtn && logoutMenu) {
                        dropbtn.textContent = username;
                        logoutMenu.style.display = 'block';
                        loginButton.style.display = 'none';
                        
                        dropbtn.addEventListener('click', function() {
                            const dropdownContent = document.querySelector('.dropdown-content');
                            dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
                        });
                    }
                }
            });
        }

        function clearLocalStorage() {
            localStorage.removeItem('username');
            location.reload();
        }

    loadUsername();
    </script>
</body>
</html>