<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../images/logo.jpeg" type="image/x-icon">
  <meta name="description" content="">
  <link rel="stylesheet" href="../styles/detalhesProdutos.css">
  <title>Detalhes do Produto</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <div class="logoimg">
                    <a href="/">
                        <img src="../images/logo.jpeg" alt="Logo do E-commerce">
                    </a>
                </div>
                <div class="logotext">
                    <h1>GreenTech</h1>
                </div>
            </div>
            <div class="searcher">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Buscar...">
                    <img class="search-icon" src="../images/search1.svg" alt="Ícone de Pesquisa">
                </div>
            </div>
            <div class="cart">
                <a id="cart-link" href="#" rel="noopener noreferrer">
                    <img src="../images/cart.svg">
                    <span id="cart-item-count" class="cart-item-count">0</span> <!-- Contador de itens do carrinho -->
                </a>
            </div>
            <div class="button">
                <div class="loginimg">
                    <img src="../images/login-icon.svg" alt="icon login">
                    <a class="login-button" href="/login">Login</a>
                </div>
                <div class="logout-menu">
                    <div class="dropdown">
                        <button class="dropbtn">Login</button>
                        <div class="dropdown-content">
                            <a id="meus-pedidos" href="/pedidos">Meus Pedidos</a>
                            <a href="#" onclick="clearLocalStorage()">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="category">
            <ul class="nav">
                <% categorias.forEach(categoria => { %>
                    <li><a href="/produtos/<%= categoria.id_categoria %>"><%= categoria.nome_categoria %></a></li>
                <% }) %>
            </ul>
        </nav>
    </header>

    <main class="product-main">
        <div class="product-container">
            <div class="product-left">
                <div class="product-name-category">
                    <h2 class="product-name" id="produto-nome"></h2>
                    <span class="product-category" id="produto-categoria"></span>
                </div>
                <div class="product-image">
                    <img src="" alt="Imagem do Produto" id="produto-imagem">
                </div>
                <div class="product-description">
                    <p>Avaliações:</p>
                    <div class="rating" id="produto-avaliacao">
                        <!-- Avaliações serão preenchidas dinamicamente -->
                    </div>
                    <p>Descrição:</p>
                    <h4 id="produto-descricao">
                        <!-- Descrição será preenchida dinamicamente -->
                    </h4>
                    
                    <p>Especificações Técnicas:</p>
                    <div id="produto-especificacoes">
                        <!-- Especificações serão preenchidas dinamicamente -->
                    </div>
                </div>
            </div>
            <div class="product-right">
                <div class="product-details">
                    <p class="product-price" id="produto-preco"></p>
                    <p class="product-stock">Em estoque</p>
                    <div class="product-quant">
                        <p class="product-number">Quantidade:</p>
                        <input type="number" value="1" min="1" class="product-quantity">
                    </div>
                    <div class="product-actions">
                        <div class="product-button">
                            <button class="buy-button">Comprar</button>
                            <button class="add-to-cart">Adicionar ao Carrinho</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="container-footer">
        <div class="footer-box">
            <p>Desenvolvido por Diêgo Farias e Isaias Mendes</p>
        </div>
        <div class="line"></div>
        <div class="footer-footer">
            <p>&copy; 2024 GreenTech</p>
        </div>
    </footer>
    <script>
        let cartItems = [];

        function loadUsername() {
            document.addEventListener("DOMContentLoaded", function() {
                const username = localStorage.getItem('username')?.split(' ')[0];
                if (username) {
                    const loginButton = document.querySelector('.login-button');
                    const dropbtn = document.querySelector('.dropbtn');
                    const logoutMenu = document.querySelector('.logout-menu');
                    
                    if (loginButton && dropbtn && logoutMenu) {
                        dropbtn.textContent = username;
                        logoutMenu.style.display = 'block';
                        loginButton.style.display = 'none';
                        
                        dropbtn.addEventListener('click', function() {
                            const dropdownContent = document.querySelector('.dropdown-content');
                            dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
                        });
                    }
                }
            });
        }

        function clearLocalStorage() {           
                localStorage.removeItem('username');
                localStorage.removeItem('id'); 
                location.reload();
            }

            function loadDataFromLocalStorage() {
                const storedCartItems = localStorage.getItem('cartItems');
                if (storedCartItems) {
                    cartItems = JSON.parse(storedCartItems);
                }
                updateCartItemCount();
                updateCartLink();
            }

            function saveCartItemsToLocalStorage() {
                localStorage.setItem('cartItems', JSON.stringify(cartItems));
            }

            function updateCartItemCount() {
                const cartItemCount = document.getElementById('cart-item-count');
                cartItemCount.innerText = cartItems.length;
            }

            function updateCartLink() {
                const cartLink = document.getElementById('cart-link');
                cartLink.href = `/pagamento?produtos=${JSON.stringify(cartItems)}`;
            }

            // Adicionar ao carrinho
            const addToCartButton = document.querySelector('.add-to-cart');
            if (addToCartButton) {
                addToCartButton.addEventListener('click', function() {
                    const productId = 'produto_id'; // Defina aqui o ID do produto a ser adicionado
                    cartItems.push(productId);
                    saveCartItemsToLocalStorage();
                    updateCartItemCount();
                    updateCartLink();
                });
            }

        // Função para carregar os detalhes do produto dinamicamente
        document.addEventListener("DOMContentLoaded", function() {
            // Extrair o ID do produto da URL
            const urlParams = new URLSearchParams(window.location.search);
            const productId = urlParams.get('id');
            const nomeCategoria = ''

            // Construir a URL para a requisição fetch
            const url = `http://localhost:3000/produtos/detalhesProdutos?id=${productId}`;

            // Realizar a requisição fetch
            fetch(url)
                .then(response => {
                    // Verificar se o tipo de conteúdo é JSON
                    const contentType = response.headers.get("content-type");
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    } else if (!contentType || !contentType.includes("application/json")) {
                        throw new TypeError(`Expected JSON, but received ${contentType}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const categorias = {
                        1: 'Todos',
                        2: 'Tecnologia',
                        3: 'Rural',
                        4: 'Utensílios'
                        // Adicione mais conforme necessário
                    };
                   
                    // Preencher os elementos HTML com os dados do produto recebidos
                    document.getElementById('produto-nome').textContent = data.produto.nome_produto;
                    const categoriaId = data.produto.id_categoria_TB_CATEGORIAS;
                    document.getElementById('produto-categoria').textContent = categorias[categoriaId];
                    document.getElementById('produto-imagem').src = `../${data.produto.imagem_produto}`;
                    document.getElementById('produto-preco').textContent = `R$ ${data.produto.preco_produto.toFixed(2)}`;
                    
                    // Preencher avaliações
                    const ratingElement = document.getElementById('produto-avaliacao');
                    ratingElement.innerHTML = '';
                    for (let i = 0; i < data.produto.avaliacao_produto; i++) {
                        ratingElement.innerHTML += '&#9733 ';
                    }
                    for (let i = data.produto.avaliacao_produto; i < 5; i++) {
                        ratingElement.innerHTML += '&#9734 ';
                    }

                    // Preencher descrição
                    document.getElementById('produto-descricao').textContent = data.produto.descricao_produto;
                    
                })
                .catch(error => {
                    console.error('Erro ao carregar detalhes do produto:', error);
                    alert(`Erro ao carregar detalhes do produto: ${error}`);
                });
        });

        loadUsername();
        loadDataFromLocalStorage();
    </script>
</body>
</html>
