<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Novo Produto</title>
    <link rel="shortcut icon" href="../images/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/inserirProduto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <div class="logoimg">
                    <a href="/">
                        <img src="../images/logo.jpeg" alt="Logo do E-commerce">
                    </a>
                </div>
                <div class="logotext">
                    <h1>GreenTech</h1>
                </div>
            </div>
            <div class="searcher">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Buscar...">
                    <img class="search-icon" src="../images/search1.svg" alt="Ícone de Pesquisa">
                </div>
            </div>
            <div class="cart" id="cart-icon">
                <a id="cart-link" href="#" rel="noopener noreferrer">
                    <img src="../images/cart.svg">
                    <span id="cart-item-count" class="cart-item-count">0</span>
                </a>
            </div>           
            <div class="button">
                <div class="loginimg">
                    <img src="../images/login-icon.svg" alt="icon login">
                    <a class="login-button" href="/login">Login</a>
                </div>
                <div class="logout-menu">
                    <div class="dropdown">
                        <button class="dropbtn">Login</button>
                        <div class="dropdown-content">
                            <a id="meus-pedidos" href="/pedidos">Meus Pedidos</a>
                            <a href="#" onclick="clearLocalStorage()">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="category">
          <ul class="nav">
            <!-- categorias. -->
          </ul>
        </nav>
    </header>

    <main>
        <div class="form-container">
            <form id="formProduto" enctype="multipart/form-data" method="POST" action="/produtos">
                <div class="form-slice active">
                    <h2>Inserir Novo Produto</h2>
                    <div class="input-group">
                        <i class="fas fa-tag"></i>
                        <input type="text" name="nome_produto" id="nome_produto" placeholder="Nome do Produto" required>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-dollar-sign"></i>
                        <input type="number" step="0.01" name="preco_produto" id="preco_produto" placeholder="Preço do Produto" required>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-image"></i>
                        <input type="file" name="imagem_produto" id="imagem_produto" required>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-calendar-alt"></i>
                        <input type="date" name="dataCadastro_produto" id="dataCadastro_produto" required>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-info-circle"></i>
                        <textarea name="descricao_produto" id="descricao_produto" placeholder="Descrição do Produto" required></textarea>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-list"></i>
                        <input type="number" name="id_categoria_TB_CATEGORIAS" id="id_categoria_TB_CATEGORIAS" placeholder="ID da Categoria" required>
                    </div>
                    <div class="input-group" id="ap1">
                        <label for="avaliacao_produto">Avaliação do Produto:</label><br>
                        <div class="box">
                            <div class="avaliacao-box">
                                <label for="avaliacao1">1</label>
                                <input type="radio" id="avaliacao1" name="avaliacao_produto" value="1" required>
                            </div>
                            <div class="avaliacao-box">
                                <label for="avaliacao2">2</label>
                                <input type="radio" id="avaliacao2" name="avaliacao_produto" value="2">
                            </div>
                            <div class="avaliacao-box">
                                <label for="avaliacao3">3</label>
                                <input type="radio" id="avaliacao3" name="avaliacao_produto" value="3">
                            </div>
                            <div class="avaliacao-box">
                                <label for="avaliacao4">4</label>
                                <input type="radio" id="avaliacao4" name="avaliacao_produto" value="4">
                            </div>
                            <div class="avaliacao-box">
                                <label for="avaliacao5">5</label>
                                <input type="radio" id="avaliacao5" name="avaliacao_produto" value="5">
                            </div>
                            
                            
                            
                        </div>
                    </div>
                    <button type="submit">Inserir Produto</button>
                </div>
            </form>
        </div>
    </main>

    <footer class="container-footer">
        <div class="footer-box">
            <p>Desenvolvido por Diêgo Farias e Isaias Mendes</p>
        </div>
    </footer>
    <script>
        document.getElementById('formProduto').addEventListener('submit', function(event) {
            event.preventDefault(); 
            const avaliacaoSelecionada = document.querySelector('input[name="avaliacao_produto"]:checked + label').textContent;
            document.getElementById('formProduto').setAttribute('avaliacao_produto', avaliacaoSelecionada);
            this.submit();
        });
    </script>
</body>
</html>
