<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Novo Produto</title>
    <link rel="shortcut icon" href="../images/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/inserirProduto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <div class="logoimg">
                    <a href="/">
                        <img src="../images/logo.jpeg" alt="Logo do E-commerce">
                    </a>
                </div>
                <div class="logotext">
                    <h1>GreenTech</h1>
                </div>
            </div>
            <div class="searcher">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Buscar...">
                    <img class="search-icon" src="../images/search1.svg" alt="Ícone de Pesquisa">
                </div>
            </div>
            <div class="cart" id="cart-icon">
                <a id="cart-link" href="#" rel="noopener noreferrer">
                    <img src="../images/cart.svg">
                    <span id="cart-item-count" class="cart-item-count">0</span>
                </a>
            </div>           
            <div class="button">
                <div class="loginimg">
                    <img src="../images/login-icon.svg" alt="icon login">
                    <a class="login-button" href="/login">Login</a>
                </div>
                <div class="logout-menu">
                    <div class="dropdown">
                        <button class="dropbtn">Login</button>
                        <div class="dropdown-content">
                            <a id="meus-pedidos" href="/pedidos">Meus Pedidos</a>
                            <a id="inserir-produto" href="produtos/inserir">Adicionar Produto</a>
                            <a href="#" onclick="clearLocalStorage()">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="category">
            <ul class="nav">
                <% categorias.forEach(categoria => { %>
                    <li><a href="/produtos/<%= categoria.id_categoria %>"><%= categoria.nome_categoria %></a></li>
                <% }) %>
            </ul>
        </nav>
    </header>

    <main>
        <div class="form-container">
            <form id="formProduto" enctype="multipart/form-data" method="POST" action="/produtos">
                <div class="form-slice active">
                    <h2>Inserir Novo Produto</h2>
                    <div class="input-group">
                        <i class="fas fa-tag"></i>
                        <input type="text" name="nome_produto" id="nome_produto" placeholder="Nome do Produto" required>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-dollar-sign"></i>
                        <input type="number" step="0.01" name="preco_produto" id="preco_produto" placeholder="Preço do Produto" required>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-image"></i>
                        <input type="file" name="imagem_produto" id="imagem_produto" required>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-calendar-alt"></i>
                        <input type="date" name="dataCadastro_produto" id="dataCadastro_produto" required>
                    </div>
                    <div class="input-group">
                        <i class="fas fa-info-circle"></i>
                        <textarea name="descricao_produto" id="descricao_produto" placeholder="Descrição do Produto" required></textarea>
                    </div>
                    <div class="input-group">
                       
                        <label for="id_categoria_TB_CATEGORIAS">Categoria:</label>
                        <div class="dropdown">
                            <select name="id_categoria_TB_CATEGORIAS" id="id_categoria_TB_CATEGORIAS" required>
                                <option value="" disabled selected>Selecione uma categoria</option>
                                <% categorias.forEach(categoria => { %>
                                    <option value="<%= categoria.id_categoria %>"><%= categoria.nome_categoria %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="input-group" id="ap1">
                        <label for="avaliacao_produto">Avaliação do Produto:</label><br>
                        <div class="box">
                            <div class="avaliacao-box">
                                <label for="avaliacao1">1</label>
                                <input type="radio" id="avaliacao1" name="avaliacao_produto" value="1" required>
                            </div>
                            <div class="avaliacao-box">
                                <label for="avaliacao2">2</label>
                                <input type="radio" id="avaliacao2" name="avaliacao_produto" value="2">
                            </div>
                            <div class="avaliacao-box">
                                <label for="avaliacao3">3</label>
                                <input type="radio" id="avaliacao3" name="avaliacao_produto" value="3">
                            </div>
                            <div class="avaliacao-box">
                                <label for="avaliacao4">4</label>
                                <input type="radio" id="avaliacao4" name="avaliacao_produto" value="4">
                            </div>
                            <div class="avaliacao-box">
                                <label for="avaliacao5">5</label>
                                <input type="radio" id="avaliacao5" name="avaliacao_produto" value="5">
                            </div>
                        </div>
                    </div>
                    <button type="submit">Inserir Produto</button>
                </div>
            </form>
        </div>
    </main>

    <footer class="container-footer">
        <div class="footer-box">
            <p>Desenvolvido por Diêgo Farias e Isaias Mendes</p>
        </div>
    </footer>
    <script>
        let cartItems = [];
    
        function loadDataFromLocalStorage() {
            const storedCartItems = localStorage.getItem('cartItems');
            if (storedCartItems) {
                cartItems = JSON.parse(storedCartItems);
            }
            updateCartItemCount();
            updateCartLink(); // Chama a função para garantir que o link do carrinho esteja atualizado ao carregar a página
        }

        function loadUsername() {
            document.addEventListener("DOMContentLoaded", function() {
                const username = localStorage.getItem('username')?.split(' ')[0];
                if (username) {
                    const loginButton = document.querySelector('.login-button');
                    const dropbtn = document.querySelector('.dropbtn');
                    const logoutMenu = document.querySelector('.logout-menu');
                    
                    if (loginButton && dropbtn && logoutMenu) {
                        dropbtn.textContent = username;
                        logoutMenu.style.display = 'block';
                        loginButton.style.display = 'none';
                        
                        dropbtn.addEventListener('click', function() {
                            const dropdownContent = document.querySelector('.dropdown-content');
                            dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
                        });
                    }
                }
            });
        }

        function clearLocalStorage() {
            localStorage.removeItem('username');
            localStorage.removeItem('cartItems');
            location.reload();
        }
    
        function addToCart(productId) {
            cartItems.push(productId);
            saveCartItemsToLocalStorage();
            updateCartItemCount();
            updateCartLink();
        }

        function removeFromCart(productId) {
            cartItems = cartItems.filter(item => item !== productId);
            saveCartItemsToLocalStorage();
            updateCartItemCount();
            updateCartLink();
        }
    
        function saveCartItemsToLocalStorage() {
            localStorage.setItem('cartItems', JSON.stringify(cartItems));
        }
    
        function updateCartItemCount() {
            const cartItemCount = document.getElementById('cart-item-count');
            cartItemCount.innerText = cartItems.length;
        }
    
        function updateCartLink() {
            const cartLink = document.getElementById('cart-link');
            cartLink.href = `/pagamento?produtos=${JSON.stringify(cartItems)}`;
        }

        document.addEventListener("DOMContentLoaded", function() {
            const categoriaSelect = document.getElementById('id_categoria_TB_CATEGORIAS');
            const nomeCategoriaSelecionada = document.getElementById('nomeCategoriaSelecionada');

            categoriaSelect.addEventListener('change', function() {
                const selectedOption = categoriaSelect.options[categoriaSelect.selectedIndex];
                nomeCategoriaSelecionada.textContent = selectedOption.text;
            });
        });

        loadUsername();
        loadDataFromLocalStorage();
    </script>
</body>
</html>
