<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="login-container">
        <div class="logo-container">
            <!-- Logo em forma hexagonal -->
            <div class="hexagon"></div>
        </div>
        <h1>Entrar</h1>
        <form action="#" method="post">
            <div class="input-container">
                <i class="fas fa-user"></i>
                <input type="email" id="email" name="email" placeholder="*Email" required>
            </div>
            <div class="input-container">
                <i class="fas fa-key"></i>
                <input type="password" id="senha" name="senha" placeholder="*Senha" required>
            </div>
            <button type="submit" class="btn-access">Acessar</button>
            <p>Não tem uma conta? <a href="#" class="register-link">Registre-se</a></p>
        </form>
    </div>
</body>
</html>
