<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.0.29, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo.jpeg" type="image/x-icon">
  <meta name="description" content="">
  <link rel="stylesheet" href="styles/pedidos.css">
  <title>Pedidos</title>
</head>
<body> 
    <header>
        <div class="header">
            <div class="logo">
                <div class="logoimg">
                    <a href="/">
                        <img src="./images/logo.jpeg" alt="Logo do E-commerce">
                    </a>
                </div>
                <div class="logotext">
                    <h1>GreenTech</h1>
                </div>
            </div>
            <div class="searcher">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Buscar...">
                    <img class="search-icon" src="./images/search1.svg" alt="Ícone de Pesquisa">
                </div>
            </div>
            <div class="cart">
                <a href="pagamento" rel="noopener noreferrer">
                    <img src="./images/cart.svg">
                </a>
            </div>
            <div class="button">
                <a href="/login" class="login-button">
                    <div class="loginimg">
                        <img src="./images/login-icon.svg" alt="icon login">
                        <span>Login</span>
                    </div>
                </a>
            </div>
        </div>  
        <nav class="category">
            <ul class="nav">
                <li><a href="#">Eletrônicos</a></li>
                <li><a href="#">Gadgets</a></li>
                <li><a href="#">Utensílios</a></li>
                <li><a href="#">Equipamentos Rurais</a></li>
                <li><a href="#">Componentes e Peças</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="title-filter">
            <h1 class="title">Meus Pedidos</h1>
            <input type="text" class="filter-input" placeholder="Filtrar por ID">
        </div>
        <div class="order-list">
            <div class="order">
                <div class="order-header">
                    <div class="order-info">
                        <p class="order-id">ID do pedido: 81807928513411</p>
                        <p class="order-date">Pedido feito em: 18 abr, 2024</p>
                        <p class="order-total">Total: R$ 96,02</p>
                    </div>
                    <div class="order-status">Concluído</div>
                    <button class="order-button details-button">Detalhes do Pedido</button>
                </div>
            </div>

            <div class="order">
                <div class="order-header">
                    <div class="order-info">
                        <p class="order-id">ID do pedido: 81807928513411</p>
                        <p class="order-date">Pedido feito em: 18 abr, 2024</p>
                        <p class="order-total">Total: R$ 96,02</p>
                    </div>
                    <div class="order-status">Concluído</div>
                    <button class="order-button details-button">Detalhes do Pedido</button>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="container-footer">
        <div class="footer-box">
            <p>Desenvolvido por Diêgo Farias e Isaias Mendes</p>
        </div>
      </footer>
</body>
</html>
