<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.0.29, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/logo.jpeg" type="image/x-icon">
  <meta name="description" content="">
  <link rel="stylesheet" href="../styles/principal.css">
  <title><%= title %></title>

</head>
<body> 
    <header>
        <div class="logo">
            <div class="logoimg">
                <a href="./index.html">
                    <img src="./images/logo.jpeg" alt="Logo do E-commerce">
                </a>
            </div>
            <div class="logotext">
                <h1>GreenTech</h1>
            </div>
        </div>
        <nav class="category">
                <ul class="nav">
                    <li><a href="#">Eletrônicos</a></li>
                    <li><a href="#">Gadgets</a></li>
                    <li><a href="#">Utensílios</a></li>
                    <li><a href="#">Equipamentos Rurais</a></li>
                    <li><a href="#">Componentes e Peças</a></li>
                </ul>
        </nav>
        <div class="searcher">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar...">
                <img class="search-icon" src="./images/search.svg" alt="Ícone de Pesquisa">
            </div>
        </div>
        <div class="button">
            <div class="loginimg">
                <img src="./images/login-icon.svg" alt="icon login">
                <button class="login-button">Login</button>
            </div>
        </div>
    </header>

    <main>
        <div class="background">
            <img src="/images/fundo.jpeg" alt="background">
        </div>
        <div class="cards">
            <h2>Produtos em Destaque</h2>
            <div class="slider">
                <div class="card">
                    <div class="like"></div>
                    <img class="product" src="/images/lamp-led.jpeg">
                    <h4 class="prod-name">Lampada Led</h4>
                    <div class="rating">
                        &#9733
                        &#9733
                        &#9733
                        &#9734
                        &#9734
                    </div>
                    <div class="price">
                        <h5>R$ 299.90</h5>
                        <h5>R$ 299.90</h5>
                    </div>
                    <a class="buy" href="">Adicionar ao Carrinho</a>
                </div>
                <div class="card">
                    <div class="like"></div>
                    <img class="product" src="/images/drone.jpg">
                    <h4 class="prod-name">Drone</h4>
                    <div class="rating">
                        &#9733
                        &#9733
                        &#9733
                        &#9734
                        &#9734
                    </div>
                    <div class="price">
                        <h5>R$ 299.90</h5>
                        <h5>R$ 299.90</h5>
                    </div>
                    <a class="buy" href="">Adicionar ao Carrinho</a>
                </div>
                <div class="card">
                    <div class="like"></div>
                    <img class="product" src="/images/placa-solar.jpg">
                    <h4 class="prod-name">Placa Solar</h4>
                    <div class="rating">
                        &#9733
                        &#9733
                        &#9733
                        &#9734
                        &#9734
                    </div>
                    <div class="price">
                        <h5>R$ 299.90</h5>
                        <h5>R$ 299.90</h5>
                    </div>
                    <a class="buy" href="">Adicionar ao Carrinho</a>
                </div>
                <div class="card">
                    <div class="like"></div>
                    <img class="product" src="/images/carregador.webp">
                    <h4 class="prod-name">Carregador Portátil</h4>
                    <div class="rating">
                        &#9733
                        &#9733
                        &#9733
                        &#9734
                        &#9734
                    </div>
                    <div class="price">
                        <h5>R$ 299.90</h5>
                        <h5>R$ 299.90</h5>
                    </div>
                    <a class="buy" href="">Adicionar ao Carrinho</a>
                </div>
                <div class="card">
                    <div class="like"></div>
                    <img class="product" src="/images/irrigacao.jpg">
                    <h4 class="prod-name">Placa Solar</h4>
                    <div class="rating">
                        &#9733
                        &#9733
                        &#9733
                        &#9734
                        &#9734
                    </div>
                    <div class="price">
                        <h5>R$ 299.90</h5>
                        <h5>R$ 299.90</h5>
                    </div>
                    <a class="buy" href="">Adicionar ao Carrinho</a>
                </div>
            </div>
        </div>
            
        <div class="container2"></div>
    </main>

    <footer class="container-footer">
        <div>
            <ul class="nav-footer">
                <li><a href="#cat1">Sobre</a></li>
                <li><a href="#cat2">Suporte</a></li>
                <li><a href="#cat3">Ajuda</a></li>
                <li><a href="./cadastro.html">Cadastro</a></li>
                <li><a href="./login.html">Login</a></li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="devs">
            <div class="developer">
                <div class="dev">
                    <p>Diêgo Faria</p>
                    <ul>
                        <li>
                            <a href="https://twitter.com/joao_silva" target="_blank">
                                <img src="./images/instagram-svgrepo-com.svg" class="icon-social">
                            </a>
                            <a href="https://linkedin.com/in/joao_silva" target="_blank">
                                <img src="./images/linkedin-svgrepo-com.svg" class="icon-social">
                            </a>
                            <a href="https://github.com/joao_silva" target="_blank">
                                <img src="./images/github-svgrepo-com.svg" class="icon-social">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="vline"></div>
                <div class="dev">
                    <p>Isaias Mendes</p>
                    <ul>
                        <li>
                            <a href="https://twitter.com/maria_souza" target="_blank">
                                <img src="./images/instagram-svgrepo-com.svg" class="icon-social">
                            </a>
                            <a href="https://linkedin.com/in/maria_souza" target="_blank">
                                <img src="./images/linkedin-svgrepo-com.svg" class="icon-social">
                            </a>
                            <a href="https://github.com/maria_souza" target="_blank">
                                <img src="./images/github-svgrepo-com.svg" class="icon-social">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="footer-footer">
            <p>&copy; 2024 GreenTech</p>
        </div>
    </footer>
    <script src="./script.js">
    </script>
</body>
</html>