@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
}

header {
    background-color: #0E1E2D;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 150px;
}

.logoimg img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.logotext {
    font-size: 14px;
    color: white;
}

.searcher {
    width: 25%;
    margin-right: 150px;
}

.search-container {
    position: relative;
    margin: 10px; 
}

.search-input {
    padding: 5px 20px; 
    width: 130%; 
    height: 20px; 
    border-radius: 10px; 
    border: 1px solid #ccc;
}

.search-icon {
    position: absolute;
    height: 20px; 
    top: 50%;
    right: -135px; 
    transform: translateY(-50%);
    cursor: pointer;
}

.search-icon:hover {
    height: 25px; 
}

.cart img {
    height: 25px; 
    width: 25px; 
    cursor: pointer;
}

.cart {
    position: relative;
}

.cart-item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}

.button {
    padding: 5px 10px; 
    background-color: #2a7ad0; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 80px; 
    height: 25px; 
    justify-content: center;
    align-items: center;
}

.loginimg {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.loginimg img {
    height: 20px; 
    margin: 0 5px 0 0;
}

.loginimg a {
    text-decoration: none;
    padding: 0; 
}

.button:hover {
    background-color: #0056b3; 
}

.login-button {
    color: #fff; 
    text-align: center;
    font-size: 16px; 
    margin-left: 10px;
}

.user-menu {
    display: flex;
    align-items: center;
}

.loginimg {
    display: flex;
    align-items: center;
}

.logout-menu {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #2a7ad0;
    color: white;
    padding: 1px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: red;
}

.logout-menu .dropdown-content #meus-pedidos:hover {
    background-color: #f1f1f1;
    color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}

.category {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 0 25px; 
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px; 
    padding: 8px 6px; 
}

.nav a:hover {
    background-color: #3d6ec248;
    padding: 8px 6px;
    position: inherit;
}

main {
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: #0e1e2dca;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 100px;
}

.form-container {
    background-color: #ffffffc0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 420px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 20px 20px;
    align-items: center;
} 
  
.form-slice.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.form-slice h2 {
    margin-top: 0;
    color: #0E1E2D;
    text-align: center;
    padding: 30px 0 20px 0;
    margin: 0;
}
  
.input-group {
    position: relative;
    margin-bottom: 10px;
}
  
.input-group i {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #484848;
}
  
.input-group input {
    width: calc(100% - 30px);
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f1f1f1;
}

#imagem_produto {
    cursor: pointer;
    height: 20px;
    border: 2px dashed #000000;
    background-color: #f1f1f100;
}

#imagem_produto:hover {
    height: 20px;
    border: 2px dashed #2e97f3d0;
    background-color: #f1f1f100;
}

#descricao_produto {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: row;
}

#ap1 {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.avaliacao-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#avaliacao1, #avaliacao2, #avaliacao3, #avaliacao4, #avaliacao5 {
    width: 15px;
    height: 15px;
    margin: 0;
}
  
.form-slice button {
    background-color: #4EC76C;
    border: none;
    color: #f1f1f1;
    padding: 10px 0;
    margin: 0 25%;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50%;
    margin-top: 10px;
}
  
.form-slice button:hover {
    background-color: #34944c;
    color: white;
}


/* Estilos do footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #0E1E2D;
    bottom: 0;
    width: 100%;
    text-align: center; 
}

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px; 
    padding: 5px 0;
    color: white;
}

.line { 
    width: 100%;
    height: 1px; 
    background: #ccc;
}

.footer-footer {
    color: #ffffff;
    margin: 0; 
}