body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #EDF6F3;
}

header {
    background-color: #0E1E2D;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 350px;
}

.logoimg img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.logotext {
    font-size: 15px;
    color: white;
}

.searcher {
    width: 35%;
    margin-right: 350;
}

.search-container {
    position: relative;
    margin: 20px;
}

.search-input {
    padding: 10px 30px;
    width: 90%;
    height: 13px;
    border-radius: 13px;
    border: 1px solid #ccc;
}

.search-icon {
    position: absolute;
    height: 25px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-icon:hover {
    height: 30px;
    right: -2px;
}

.cart img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.button {
    padding: 5px 10px; /* Ajustar padding */
    background-color: #2a7ad0; 
    border: none;
    border-radius: 10px; /* Ajustar borda */
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 80px; /* Ajustar largura */
    height: 25px; /* Ajustar altura */
    justify-content: center;
    align-items: center;
}

.loginimg {
    display: flex; /* Ajustar display */
    justify-content: center;
    align-items: center;
}

.loginimg img {
    height: 20px; /* Ajustar tamanho */
    margin: 0 5px 0 0;
}

.loginimg a {
    text-decoration: none;
    padding: 0; /* Ajustar padding */
}

.button:hover {
    background-color: #0056b3; 
}

.login-button {
    color: #fff; 
    text-align: center;
    font-size: 16px; /* Ajustar tamanho da fonte */
}

.user-menu {
    display: flex;
    align-items: center;
}

.loginimg {
    display: flex;
    align-items: center;
}

.login-button {
    margin-left: 10px;
}

.logout-menu {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #2a7ad0;
    color: white;
    padding: 1px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: red;
}

.logout-menu .dropdown-content #meus-pedidos:hover {
    background-color: #f1f1f1;
    color: blue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}

.category {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 8px;
}

.nav a:hover {
    background-color: #3d6ec248;
    padding: 10px 8px;
    position: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 130px;
}

.title-filter {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-bottom: 1px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #0E1E2D;
    margin-right: 20px;
    text-align: left center;
}

.filter-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1;
}

.order-list {
    background-color: #0E1E2D;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 300px;
    overflow-y: auto; 
}

.order {
    background-color: #2d3945;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

.order-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-info {
    display: flex;
    flex-direction: column;
}

.order-info .order-id {
    margin-bottom: 3px;
}

.order-info p {
    margin: 5px 0;
}

.order-status {
    color: #00ff00;
    position: absolute;
    top: 20px;
    right: 20px;
}

.order-id {
    color: white;
    font-size: 18px;
    text-decoration: underline gray;
}

.order-date {
    color: #c2c2c2;
    font-size: 12px;
}

.order-total {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.order-button {
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 3px;
}

.order-button:hover {
    background-color: #0056b3;
}

.details-button {
    margin-left: auto;
    display: inline-block;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #0E1E2D;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    position: fixed;
}

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding: 5px 0 5px 0;
    color: white;
  }