@import url("https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqblB2WXB2dllON09XaXFLa0dlcUN5ZnR4U0J6QXxBQ3Jtc0ttNDhWOEhidWM5cEJkVVZuRFBVVUp0TGhydU0wclhTS2lvZG1pa3JnUGpIZ3pKaDNRN1pfSVdWb1RqZm05SE5QRE5lNmVKN0hLanM2Z19NcVBQTkp1NWlERWkzOHhyZGhNU3hrYTE5cW1kZXNHMGZEQQ&q=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DOpen%2BSans%3Awght%40400%3B600%26display%3Dswap&v=NX8yWFVW23g");

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

header{
    background-color: #0E1E2D;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 350px;
}

.logoimg img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.logotext {
    font-size: 15px;
    color: white;
}

.searcher {
    width: 35%;
    margin-right: 350;
}

.search-container {
    position: relative;
    margin: 20px;
}

.search-input {
    padding: 10px 30px; 
    width: 90%; 
    height: 13px;
    border-radius: 13px; /* Adapte conforme necessário */
    border: 1px solid #ccc;
}

.search-icon {
    position: absolute;
    height: 25px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-icon:hover {
    height: 30px;
    right: -2px;
}

.cart img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    background-color: #2a7ad0; 
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    text-decoration: none; 
    color: #fff; 
}

.loginimg img {
    height: 25px;
    margin: 0 5px 0 0;
}

.loginimg span {
    font-size: 20px;
    margin-top: -10px;
}

.button a:hover {
    background-color: #0056b3; 
}

.category {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 0 15px;

}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 8px;
 }

.nav a:hover {
    background-color: #3d6ec248;
    padding: 10px 8px;
    position: inherit;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edf6f3;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.background img {
    width: 100%;
    height: 600px; /* Define a altura desejada */
    object-fit: cover; /* Ajusta a imagem para cobrir a área definida */
}

.cards {
    margin-top: -200px;
    background-color: #edf6f3;
    color: gray;
    align-items: center;
    font-size: 16px;
    padding: 2rem 0;
}

.cards h2 {
    color: black;
    font-weight: 600;
    position: relative;
    margin-bottom: 3rem;
    text-align: center;
}

.cards h2::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 2px;
    background-color: #47af61;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
}

.slider {
    display: flex;
    height: 400px;
}

.slider .card {
    background-color: white;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.75);
    width: 100%;
    max-width: 300px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.slider .card .like {
    background-image: url("/images/like1.svg");
    height: 40px;
    width: 40px;
    background-size: 40px;
    display: flex;
    place-self: flex-end;
    transition: 0.3s all ease;
    margin-bottom: 0.3rem;
    margin-right: -10px;
    margin-top: -10px;
    cursor: pointer;
}

.slider .card .like:hover {
    background-image: url("/images/like-svgrepo-com.svg");
    
}

.slider .card img.product {
    width: 100%;
    border-radius: 10px;
    max-height: 38%;
}

.slider .card .prod-name {
    font-weight: 300;
    font-size: 25px;
    margin: 0.5rem 0;
}

.slider .card .rating {
    color: #ffc002;

}

.slider .card .price {
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin: -0.5rem 0;
}

.slider .card .price h5:first-child {
    font-weight: 400;
    text-decoration: line-through;
    color: #d0d2d6;
}

.slider .card .price h5:last-child {
    font-weight: 700;
    color: #747d89;
}

.slider .card a.buy {
    border: 1px solid #47af61;
    border-radius: 30px;
    color: #7ac402;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s all ease;
}

.slider .card a.buy:hover {
    background-color:  #47af61;
    color: white;
    padding: 0.5rem 1rem;
}



.container2 {
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.curiosidade {
    display: flex;
    flex-direction: row;
    width: 85%;
    background-color: black;
    color: white;
    gap: 60px;
    border: none;
    border-radius: 5px;
    align-items: center;
}

.curiosidade img {
    border-radius: 5px 0 0 5px;
    width: 42%;
    height: 100%;
}

.icon-green {
    background-image: url("/images/green-tech.jpg");
    height: 100px;
    width: 100px;
    background-size: 100px;
    border-radius: 20px;
}

.curios-tex {
    height: 150px;
    margin: 0;
}

.curiosidade #curios-tex1{
    font-size: 20px;
    font-weight: 50;
    margin: 0 0 10px 0;
}

.curiosidade #curios-tex2{
    font-weight: 800;
    font-size: 30px;
    margin: 0;
}

.curiosidade #curios-tex3{
    font-weight: 50;
    font-size: 20px;
    margin: 10px 0 0 0;
}



.container3, .container4 {
    height: 440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 410px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    align-items: center;
}

.box p {
    font-weight: 50;
    font-size: 20px;
    margin: 10px 0 10px 0;
    width: 95%;
}

.box .slider {
    display: flex;
    height: 350px;
}

.box .card2 {
    background-color: white;
    border-radius: 5px;
    margin: 0 1rem;
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.box .card2:hover {
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50,83,110,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(50,83,110,1);
    box-shadow: 0px 0px 8px 0px rgba(50,83,110,1);
}

.card2 img.product {
    width: 100%;
    border-radius: 5px;
    max-height: 38%;
}

.card2 .prod-name {
    font-weight: 300;
    font-size: 25px;
    margin: 0.5rem 0;
    color: #747d89;
}

.card2 .rating {
    color: #ffc002;

}

.card2 .price {
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin: -0.5rem 0;
}

.card2 .price h5:first-child {
    font-weight: 400;
    text-decoration: line-through;
    color: #d0d2d6;
}
.card2 .price h5:last-child {
    font-weight: 700;
    color: #747d89;
}

.card2 a.buy {
    border: 1px solid;
    border-radius: 20px;
    color: rgba(27, 54, 24, 0.582);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s all ease;
    width: 30px;
    height: 30px;
}

.card2 a.buy:hover {
    background-color:  rgba(27, 54, 24, 0.582);
    color: white;
    padding: 0.5rem 1rem;
}

.card2 a img {
    height: 40px;
    width: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #0E1E2D;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    position: fixed;
}
